<div class="text-center">
    <div>
    tour de cedric
</div>


<!--grille-->

<div class="grid">
    <div *ngFor="let cell of grid" class="cell" (click)="clickOnCell(cell)">
        <!--solution 1-->
<!--       <div *ngIf="!cell.empty && cell.cross" class="cross"></div> -->
<!--       <div *ngIf="!cell.empty && cell.circle" class="circle"></div>  -->

       <!--solution 2 -->

       <div *ngIf="cell.empty" [class.cross]="cell.cross" [class.circle]="cell.circle"></div>

    </div>
</div>

<!--grille-->

<button type="button" class="btn btn-primary">
    recommencer la partie
</button>
</div>